////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// font family
$font-family: Kanit, sans-serif;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// color scheme

$color-one: #3598dc ;
$color-one-hover: #0C97A3;
$color-text: #f2f3f4;

$color-two : #e7505a;
$color-two-hover: #e12330;

$heading-color: #555d60;
$border-color: #eeeeee;